@font-face {
    font-family: 'CustomFont'; /* Nom que vous donnerez à votre police */
    src: url('./SuperFoods.ttf') format('truetype');
    font-weight: normal; /* Optionnel : normal, bold, etc. */
    font-style: normal;  /* Optionnel : normal, italic, etc. */
}
